Repository camaraproject/EdgeCloud, pull requests merged in 2023-09, with the labels that each got.

#127 Simple EDS API Aligned with commonalities
  code/API_definitions/Discovery/simple_edge_discovery.yaml
Labels: release-0.9.1

#142 TI API Readiness Checklist
  documentation/SupportingDocuments/API_Documentation/Traffic_Influence_API_Readiness_Checklist.md
Labels: documentation, Traffic Influence API, release-0.9.1

#139 Update README.md for TI API
  code/API_definitions/Traffic Influence/README.md
Labels: documentation, Traffic Influence API
